@media screen and (max-width:1200px){
    header{
        display:flex;
        flex-direction:column;
        height:180px;

    }
    nav{
        display:flex;
        flex-direction: column;
        height:120px;
    }
    nav .logo{
        margin:10px;
    }
    nav ul{
        margin:5px 0;
    }
    .btn{
        margin:2px 0;
    }
    .slider{

        height:25vh;
    }
    .card-item img{
        width:140px;
    }
}